.pair-container {
	height: auto;
	border: 1px solid black;
	width: 50%;
}

.pair {
	width: auto;
	border-bottom: 1px solid black;
}

.pair-name {
	display:inline-block;
	font-weight: bold;
}

.pair-value {
	display:inline-block;
	padding-left: 100px;
}

.nondecorated-list {
	list-style: none;
}

ul.horizontal-3 {
	list-style-type: none;
	margin:0;
	padding:0;
	overflow:hidden;
}

ul.horizontal-3 li {
	display: inline-block;
}
