<h1>My Little Kingdom</h1>
<p>Create your kingdom and keep it yours!</p>
<p>Can you get Happiness to 100?</p>
<button routerLink="/kingdom-creator">Create My Kingdom!</button>
<div *ngIf="hasData">
	<button routerLink="/game">Continue My Glorious Reign!</button>
</div>
<h2>Instructions</h2>
<ul>
	<li>Create a kingdom and try to raise it's happiness to 100.</li>
	<li>Hiring Clergy gives you 5 Clerics at the cost of 3 Knights.</li>
	<li>Hiring Knights gives you 5 Knights at the cost of 3 Clerics.</li>
	<li>Holding a feast adds 500 to your populace.</li>
	<li>Hint: Happiness is related to the amount of clerics and knights you have in relation with your populace.</li>
</ul>