<div>
	<button (click)="holdCompetition()" [disabled]="!canHoldCompetition()">Hold a Competition</button>
</div>
<div>
	<button (click)="holdConference()" [disabled]="!canHoldConference()">Hold a Conference</button>
</div>
<div>
	<button (click)="holdCelebration()" [disabled]="!canHoldCelebration()">Hold a Celebration</button>
</div>
<div>
	<button (click)="visitTown()">Visit a Town</button>
</div>
<div>
	<button>Send Knights On a Venture</button>
</div>
<div>
	<button>Send Clergy On a Venture</button>
</div>
<div>
	<button>Leader Improvement</button>
</div>
<div>
	<button>Pass a Law</button>
</div>
<div>
	<button>Do Nothing</button>
</div>

